* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: green;
}

.container {
    height: 100vh;
}

.header-logo img {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.header {
    font-family: Geist;
    font-weight: 900;
    color: var(--primaryColor);
    padding-top: 30px;
    text-align: center;
    font-size: 33px;
    text-decoration: underline;
}
.sub-header {
    font-family: Geist;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
#dark-mode {
    width: 50px;
    cursor: pointer;
}

.function-container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    /* border: 1px solid green; */
    margin-top: 50px;
}
.qr-operation {
    /* border: 1px solid turquoise; */
    margin-right: 60px;
    /* background-color: rgba(0, 128, 0, 0.089); */
    padding: 20px 30px;
    background-color: azure;
    /* width: 90%; */
}
.input-area label {
    font-family: Geist;
    font-weight: 600;
    font-size: 18px;
}
.input-area input {
    width: 400px;
    font-size: 17px;
    padding: 7px 15px;
    font-family: Geist;
    font-weight: 500;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.616);
    border-radius: 5px;
    margin-top: 20px;
}
.input-area input:focus {
    border: 1px solid var(--primaryColor);
}

.gene-btn {
    border: 1px solid var(--primaryColor);
    text-align: center;
    font-family: Geist;
    font-weight: 700;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--primaryColor);
    padding: 15px 5px;
    color: white;
    margin-top: 30px;
}
.gene-btn:hover {
    background-color: rgb(7, 158, 7);
}

.qr-img-con {
    display: flex;
    justify-content: center;
    max-height: 0;
    transition: 0.5s;
}

.qr-img-add {
    max-height: 200px;
    margin: 30px auto; 
}

#bright-mode {
    display: none;
}

.slider {
    width: 65px;
    height: 31px;
    border-radius: 50px;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.slide {
    background-color: white;
    position: absolute;
    top: 4px;
    /* put to 10px */
    right: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 100;
    transition: 0.3s;
}

.s-a {
    background-color: black;
}
.sl-a {
    background-color: white;
}
.slide-change {
    right: 10px;
    background-color: black;
}
.body {
    background-color: black;
}
.qroperate {
    background-color: white;
}

.sub-header-color-js {
    color: white;
}